*{
    margin: 0%;
    padding: 0%;
}
.header {
    max-height: 50vh;
    width: 100%;
    background-color: rgb(12, 12, 12, 10%);
    background-position: cover;
    background-size: cover;
    position: relative;
    margin-right: 20px;
    bottom: 0%;

}
nav{
    display: flex;
    justify-content: space-evenly;
    padding: 2% 8%;
    align-items: right;
    margin-right: 100px;
    padding-left: 10px;
    padding-top: 0%;
}
nav img{
    width: 150px;
    margin-left: 10px;
    padding-left: 10px;
}
.nav-links{
    flex: 1;
    text-align: right;
    padding-top: 15px;
    padding-right: 0%;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 1%;
    position: relative;
    margin-right: 0%;
}
.nav-links ul li a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
    margin-right: 100px;
    padding-top: 30px;
}
.main{
    min-height: 80vh;
    width: 100%;
    background-image: url("https://images.hdqwalls.com/wallpapers/lamborghini-urus-4k-qk.jpg");
    background-position: cover;
    background-size: cover;
    position: relative;
}
img{
    border-radius: 10px 10px 0px 0px;
}
li:hover{
    transform: scale(1.02);
}
.br:hover{
    transform: scale(1.05);
}
.one1{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.br{
   background-color: rgba(66,66,66,10%);
    border-radius: 5px;
    text-align: left;
}
.py-5{
    display: flex;
    justify-content: space-around;
    border: 1pxsolid black;
    border-radius: 5px;
    background-color: black;
    color: rgb(194, 229, 229);
    text-align: start;
    margin: 10px;
    line-height: 10px;
    font-size:large;
    text-transform: capitalize;
    text-align: start;
}
.f1{
    text-align: start;
    margin: 20px;
    padding: 20px;
    text-transform: capitalize;
}
.fa-brands{
    font-size: xx-large;
}
.f2{
    font-size: xx-large;
}
.con{
    text-decoration: none;
    font-style: none;
}